*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
venv/
env/

# DB
dev.db

# JS libs
app/static/libs


app/static/css/bokeh-widgets.css
app/static/css/bokeh-widgets.css.map
app/static/css/bokeh-widgets.min.css
app/static/css/bokeh-widgets.min.css.map
app/static/css/bokeh.css
app/static/css/bokeh.css.map
app/static/css/bokeh.min.css
app/static/css/bokeh.min.css.map
app/static/css/sass.css
app/static/fonts/
app/static/js/bokeh-api.js
app/static/js/bokeh-api.js.map
app/static/js/bokeh-api.min.js
app/static/js/bokeh-gl.js
app/static/js/bokeh-gl.js.map
app/static/js/bokeh-gl.min.js
app/static/js/bokeh-widgets.js
app/static/js/bokeh-widgets.js.map
app/static/js/bokeh-widgets.min.js
app/static/js/bokeh.js
app/static/js/bokeh.js.map
app/static/js/bokeh.min.js
app/static/js/compile.js
app/static/js/modules.json

migrations
.cache

