
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h4>Movies Plot</h4>
  <!-- Plot Settings Trigger -->
  <div>
      <h6><a class="right-align" href="#movies-settings">Plot Settings</a></h6>
  </div>

  <!-- Modal Structure, the style is a fix for a select issue -->
  <!-- https://github.com/Dogfalo/materialize/issues/2557 -->
  <div id="movies-settings" class="modal bottom-sheet" style="overflow-y: visible;">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s2">
                <!--don't forget to initialize the selection in script.js -->
                <select id="select-year">
                  <option value="" disabled selected>Choose Year</option>
                  {% for year in years %}
                  <option value="{{ year }}" {% if year == default_year %} selected {% endif %}>{{ year }}</option>
                  {% endfor %}
                </select>
                <label>Year</label>
            </div>
            <div class="input-field col s10">
                <!--don't forget to initialize the selection in script.js -->
                <select id="select-location">
                  {% for loc in locations %}
                  <option value="{{ loc }}" {% if loc == default_location %} selected {% endif %}>{{ loc }}</option>
                  {% endfor %}
                </select>
                <label>Location</label>
            </div>
        </div>
    </div>
  </div>
          

      <div id="bokeh-movies-plot">
            {{plot["plot1"] | safe}}
      </div>
      <script type="text/javaScript">
        var session_id = "{{ session_id }}"
      </script>

    </div>
</div>
{% endblock %}

