
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h4>Fourier App</h4>
      <p>This page shows how a <a href="http://bokeh.org/">bokeh</a> app can be included.</p>
      <div id="bokeh-plot1">
            {{plot["plot1"] | safe}}
      </div>
      <!-- spinner until bokeh app is loaed -->
      <!-- JS code needed (bokehAppLoaded() in scripts.js) -->
    <div id="mybk-loader">
     <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>


      </div>



    </div>
</div>
{% endblock %}

